$border-color: #F0F2F3;

.theme-repository {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid $border-color;
    padding: 0 32px;
    @media (max-width: 360px) {
        padding: 0 16px;
    }
}