$main-text-color: #000000;
$border-color: #F0F2F3;
$main-grey-color: #7F8285;
$main-blue-color: #1774E9;
$border-lightgrey-color: #F2F2F2;
$border-semigrey-color: #E5E5E5;
$border-red-color: #FF4F49;
$first-letter-color: #FF3029;

.theme-repository {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content {
    padding: 0 32px;
    @media (max-width: 360px) {
        padding: 0;
    }
    &_repository {
        @media (max-width: 360px) {
            .directory-content {
                padding: 0 16px;
            }
        }
    }
}

.icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .3s;
    &_margin {
        &_left {
            margin-left: 5px;
        }
        &_right {
            margin-right: 10px;
        }
        &_top {
            margin-top: 3px;
        }
    }
    &_arrow {
        background-image: url(./images/arrow.svg);
    }
    &_arrow_up {
        transform: rotate(180deg)
    }
    &_markdown {
        background-image: url(./images/icon-markdown.svg);
    }
    &_script {
        background-image: url(./images/icon-script.svg);
        &_grey {
            background-image: url(./images/icon-script-grey.svg);
        }
    }
    &_folder {
        background-image: url(./images/icon-folder.svg);
    }
    &_save-button {
        background-image: url(./images/icon-save-button.svg);
    }
    &_clone {
        background-image: url(./images/icon-clone.svg);
    }
    &_lines {
        background-image: url(./images/icon-lines.svg);
    }
    &_branch {
        background-image: url(./images/icon-branch.svg);
    }
}

.logo {
    &_margin_desktop {
        margin-right: 40px;
    }
}

/*COLOR CODE*/

.code {
    &_comment {
        color: #8694A2;
        &_green {
            color: #008F00;
        }
    }
    &_function {
        color: #005FBA;
    }
    &_operator {
        font-weight: bold;
        color: #00234B;
    }
    &_text {
        color: #005FBA;
    }
}


/*COLOR LINE*/

.line {
    &_added {
        background: #E6FFED;
    }
    &_removed {
        background: #FFEEF0;
    }
}


/*FILE-LINE*/

.file-line {
    font-family: 'Courier New', Courier, monospace;
    &__number {
        font-size: 12px;
        line-height: 20px;
        padding: 0 30px;
        text-align: right;
        vertical-align: top;
        color: #999999;
    }
    &__code {
        font-size: 12px;
        line-height: 20px;
        color: #00234B;
        pre {
            margin: 0;
            white-space: pre-wrap;
        }
    }
}


/*DIFF*/

.diff-line {
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    * {
        box-sizing: border-box;
    }
    &_nowrap {
        white-space: nowrap;
    }
    &__first-line {
        display: flex;
        justify-content: space-between;
    }
    &__hunk {
        font-family: 'Courier New', Courier, monospace;
        padding: 0 5px;
        text-align: left;
        color: #B8BEC3;
        white-space: nowrap;
    }
    &__lines {
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        font-size: 12px;
        line-height: 20px;
        color: #B8BEC3;
        white-space: nowrap;
        &_active {
            color: #000000;
        }
    }
    &__number {
        width: 75px;
        font-size: 12px;
        line-height: 20px;
        padding: 0 30px;
        text-align: right;
        vertical-align: top;
        color: #999999;
        &_second {
            padding-left: 0;
        }
    }
    &__code {
        font-size: 12px;
        line-height: 20px;
        vertical-align: top;
        color: #00234B;
        width: 100%;
    }
    .code {
        &_comment {
            color: #8694A2;
        }
        &_function {
            color: #005FBA;
        }
        &_operator {
            font-weight: bold;
            color: #00234B;
        }
        &_text {
            color: #005FBA;
        }
    }
}


/*HISTORY COMMIT*/

.history-per-day {
    padding-top: 15px;
    &__date {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #7F8285;
        margin-bottom: 16px;
    }
}

.commit-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:last-child &__image::after {
        content: none;
    }
    &__name {
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    &__left-container {
        display: flex;
    }
    &__image {
        width: 40px;
        height: 40px;
        background-image: url(./images/commit-image.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 12px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 19px;
            top: 42px;
            display: block;
            width: 2px;
            height: 30px;
            background: #B8BEC3;
            border-radius: 10px;
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
    }
    &__message {
        font-size: 13px;
        line-height: 18px;
        margin-bottm: 4px;
    }
    &__hash {
        font-size: 13px;
        line-height: 18px;
        color: #1774E9;
    }
    &__footer {
        font-size: 13px;
        line-height: 20px;
    }
    &__committer,
    &__time {
        color: #434445;
    }
    &__committer::first-letter {
        color: $first-letter-color;
    }
    &__tag {
        width: 20px;
        height: 20px;
        background-image: url(./images/tag.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}


